body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: arial,sans-serif;
  background-color: hsl(0, 0%, 94%);
}.app{
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 5px;
  width: 400px;
  border-radius: 10px;
}.input{
    border: none;
    border-radius: 5px;
    width: 95%;
    background-color: #e6e6e6;
    padding: 10px;
    font-size: 25px;
    height: 50px;
  
}.buttons{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1px;
  margin-top: 5px;
}
.btn{
  font-size: 20px;
  padding: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s ease;

}.btn:hover{
  background-color: #45a049;
}.operator{
  background-color: #f39c12;
}
.equal{
  background-color: #3498db;
}.equal:hover{
  background-color: #2980b9;
}.zero{
  grid-column: span 2;
}
@media screen and (max-width: 450px) {
  .app {
  width: 290px;
  }.input{
    width: 93%;
  }
}